<header data-th-fragment="header">
  <div class="header-content">
    <div class="header-logo">
      <div class="logo"></div>
      <a data-th-href="@{/encheres}">
        <img data-th-src="@{/images/logo.png}" alt="Logo MinouMinou" height="50" style="vertical-align: middle;">
        <span data-th-text="#{nom-application}" style="margin-left: 8px;"></span>
      </a>

    <div class="pseudo">
      <i><a data-th-href="@{/profile}"><span th:if="${membreSession != null and membreSession.noUtilisateur != 0}"
               th:text="'Bienvenue ' + ${membreSession.pseudo}">[pseudo]</span></a>
      </i>
    </div>
      <div class="nav">
      <nav>
        <ul>
          <li th:if="${#authorization.expression('isAuthenticated')}">
            <a th:href="@{/encheres/user/dashboard}" th:text="#{frag.header.dashboard}"></a>
          </li>
          <li data-th-if="${#authorization.expression('hasRole(''ADMIN'')')}"><a data-th-href="@{/admin}" data-th-text="#{frag.header.gestion}"></a></li>
          <!--      page à créer pour l'administrateur et ce qu'il peut faire dedans-->
          <li><a data-th-href="@{/new_sale}" data-th-text="#{frag-entete.a.newsale}"></a></li>
          <li data-th-unless="${#authorization.expression('isAuthenticated')}"><a data-th-href="@{/login}" data-th-text="#{frag-entete.a.connexion}"></a></li>
          <li data-th-unless="${#authorization.expression('isAuthenticated')}"><a data-th-href="@{/register}" data-th-text="#{frag-entete.a.inscription}"></a></li>
          <li data-th-if="${#authorization.expression('isAuthenticated')}"><a data-th-href="@{/logout}" data-th-text="#{frag-entete.a.deconnexion}"></a></li>
        </ul>
      </nav>
      </div>
    </div>
  </div>

</header>

