<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{},
                                                title=~{}
                                            )}"
>
<main>
<div class="window">
    <div class="title-bar">
        <span>MinouMinou.exe</span>
        <div class="title-bar-button">X</div>
    </div>
    <div class="content">
        <h1>Bienvenue sur MinouMinou's Auction House</h1>
        <p>Site d'enchères en mode rétro !</p>
    </div>
</div>
</main>
</html>