<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                               mainContent=~{:: main},
                                               cssContent=~{},
                                               title=~{}
                                           )}"
>
<link rel="stylesheet" href="/css/index-custom.css">

<main>


    <!-- Premier div : message de bienvenue -->
    <div class="window welcome">
        <div class="title-bar">
            <span>MinouMinou.exe</span>
            <div class="title-bar-button">X</div>
        </div>
        <div class="content">
            <h1 data-th-text="#{index.h1}">Bienvenue sur MinouMinou's Auction House</h1>
            <p data-th-text="#{index.p}">Site d'enchères en mode rétro !</p>
        </div>
    </div>

    <!-- Deuxième div : liste des enchères -->
    <div class="window encheres">
        <div class="title-bar">
            <span>List d'encheres en cours</span>
            <div class="title-bar-button">X</div>
        </div>
        <div class="content">
            <ul class="article-list">
                <li class="article-item" th:each="article : ${articles}">
                    <img  class="imgIndex"  data-th-src="${article.urlImage}" th:alt="${article.nomArticle}">
                    <a class="article-link" th:href="@{'/articles/' + ${article.noArticle}}"
                       th:text="${article.nomArticle}">Nom de l'article</a>
                    -
                    <span class="article-price" th:text="${article.prixVente} + ' €'">Prix</span>
                    -
                    <span th:text="${#temporals.format(article.dateFinEncheres, 'dd/MM/yyyy HH:mm')}"></span>

                </li>
            </ul>
            <p th:if="${#lists.isEmpty(articles)}">Aucun article en vente pour le moment.</p>
        </div>
    </div>





</main>
</html>



