<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
>
<link rel="stylesheet" data-th-href="@{/css/login-register.css}">

<title data-th-text="#{login.title}"></title>

<main>

<form data-th-action="@{/login}" method="post">
    <div class="window">
        <div class="title-bar">
            <span th:text="#{login.div}"></span>
            <div class="title-bar-button" th:text="#{fake.close}"></div>
        </div>

        <div class="content">

            <label for="username" data-th-text="#{login.form.username}"></label>
            <input type="text" id="username" name="username" autofocus>

            <label for="password" data-th-text="#{login.form.password}"></label>
            <input type="password" id="password" name="password">
<!--TO DO : faire les erreurs-->
            <div class="button">
            <button type="submit" data-th-text="#{login.form.button}"></button>
            </div>
        </div>
    </div>
</form>


</main>
</html>