<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{}
                                            )}"
>

<link data-th-rel="stylesheet" data-th-href="@{/css/newSale.css}">
<main>
    <div class="window">
        <div class="title-bar">
            <span th:text="${UpdateDTO.username} + '.exe'"></span>
            <div class="title-bar-button">X</div>
        </div>
        <div class="content">
            <form th:action="@{/profile}" th:object="${UpdateDTO}" method="post">
                <input type="hidden" th:field="*{no_utilisateur}">
<!--                c'est caché mais c'est appelé obligatoirement-->

                <ul>
                    <li>
                        <label for="username" th:text="#{profile.form.pseudo}"></label>
                        <input type="text" id="username" name="username"
                               th:value="${#strings.capitalize(UpdateDTO.username)}">
                    </li>
                    <li>
                        <label for="lastname" th:text="#{profile.form.nom}"></label>
                        <input type="text" id="lastname" name="lastname"
                               th:value="${#strings.capitalize(UpdateDTO.lastname)}">
                    </li>
                    <li>
                        <label for="firstname" th:text="#{profile.form.prenom}"></label>
                        <input type="text" id="firstname" name="firstname"
                               th:value="${#strings.capitalize(UpdateDTO.firstname)}">
                    </li>
                    <li>
                        <label for="email" th:text="#{profile.form.email}"></label>
                        <input type="email" id="email" name="email"
                               th:value="*{email}">
                    </li>
                    <li>
                        <label for="phone" th:text="#{profile.form.phone}"></label>
                        <input type="text" id="phone" name="phone"
                               th:value="*{phone}">
                    </li>
                    <li>
                        <label for="street" th:text="#{profile.form.rue}"></label>
                        <input type="text" id="street" name="street"
                               th:value="*{street}">
                    </li>
                    <li>
                        <label for="postalCode" th:text="#{profile.form.codepostal}"></label>
                        <input type="text" id="postalCode" name="postalCode"
                               th:value="*{postalCode}">
                    </li>
                    <li>
                        <label for="city" th:text="#{profile.form.ville}"></label>
                        <input type="text" id="city" name="city"
                               th:value="*{city}">
                    </li>


                    <li id="button-center">
                        <button class="button" type="submit" th:text="#{profile.form.button.enregistrer}"></button>
                        <button class="button" type="reset" th:text="#{profile.form.button.annuler}"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</main>
</html>
