<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{::link},
                                                title=~{}
                                            )}"
>

<link rel="stylesheet" data-th-href="@{/css/login-register.css}">

<main>
    <div class="window">
        <div class="title-bar">
            <span data-th-text = "#{register.title}"></span>
            <div class="title-bar-button" data-th-text="#{fake.close}"></div>
        </div>
        <div class="content">

<form th:action="@{/register}" th:object="${registerDTO}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

    <div class="windows">
        <div class="title-bar">
            <span>Identité</span>
            <div class="title-bar-button" data-th-text="#{fake.close}"></div>
        </div>
        <div class="content">
                <input type="text" th:field="*{lastname}" placeholder="Nom" />
                     <div data-th-replace="~{fragments/fragment-error :: error(lastname)}"></div>
                <input type="text" th:field="*{firstname}" placeholder="Prénom"  />
                    <div data-th-replace="~{fragments/fragment-error :: error(firstname)}"></div>
                <input type="text" th:field="*{username}" placeholder="Pseudo" />
                    <div data-th-replace="~{fragments/fragment-error :: error(username)}"></div>
                <input type="email" th:field="*{email}" placeholder="Email" />
                    <div data-th-replace="~{fragments/fragment-error :: error(email)}"></div>
            </div>
    </div>

    <div class="windows">
        <div class="title-bar">
            <span>Adresse</span>
            <div class="title-bar-button" data-th-text="#{fake.close}"></div>
        </div>
        <div class="content">
                <input type="text" th:field="*{street}" placeholder="Rue" />
            <div data-th-replace="~{fragments/fragment-error :: error(street)}"></div>
                <input type="text" th:field="*{postalCode}" placeholder="Code postal" />
            <div data-th-replace="~{fragments/fragment-error :: error(postalCode)}"></div>
                <input type="text" th:field="*{city}" placeholder="Ville" />
            <div data-th-replace="~{fragments/fragment-error :: error(city)}"></div>
                <input type="text" th:field="*{phone}" placeholder="Téléphone (+33)" />
            <div data-th-replace="~{fragments/fragment-error :: error(phone)}"></div>
        </div>
        </div>

    <div class="windows">
        <div class="title-bar">
            <span>Mot de passe</span>
            <div class="title-bar-button" data-th-text="#{fake.close}"></div>
        </div>
        <div class="content">
                <input type="password" th:field="*{password}" placeholder="Mot de passe" />
            <div data-th-replace="~{fragments/fragment-error :: error(password)}"></div>
                <input type="password" th:field="*{passwordConfirm}" placeholder="Confirmation du mot de passe" />
            <div data-th-replace="~{fragments/fragment-error :: error(passwordConfirm)}"></div>
        </div>
    </div>

    <div class="button">
        <button type="submit" data-th-text="#{register.form.button}" onclick="console.log('submit click')"></button>

    </div>
</form>
        </div>
    </div>
</main>
</html>
