<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        data-th-replace="~{layouts/layout :: layout(
                                                mainContent=~{:: main},
                                                cssContent=~{:: link},
                                                title=~{:: title}
                                            )}"
>
<head>
    <title>Détail Article</title>
    <meta charset="UTF-8"/>
</head>
<main>

    <div class="window welcome">
        <div class="title-bar">
            <span th:text="${article.nomArticle}">MinouMinou.exe</span>
            <div class="title-bar-button">X</div>
        </div>
        <div class="content">
            <div class="imgDetail">
                <img class="centered-img" data-th-src="${article.urlImage}" th:alt="${article.nomArticle}">
            </div>
            <p>Description : <span th:text="${article.description}">Description ici</span></p>
            <p>Mise à prix : <span th:text="${article.miseAPrix}">0</span><img class="minouCoin" data-th-src="@{/images/CMC.png}" alt="Cryptomonnaie MinouMinou"></p>
            <p>Prix de vente : <span th:text="${article.prixVente}">0</span><img class="minouCoin" data-th-src="@{/images/CMC.png}" alt="Cryptomonnaie MinouMinou"></p>
            <p>Date début de l'enchère : <span th:text="${article.dateDebutEncheres}">0</span></p>
            <p>Date fin de l'enchère : <span th:text="${article.dateFinEncheres}">0</span></p>
            <p>Statut de l'enchère : <span th:text="${article.etatVente}">0</span></p>
            <!-- Safe null check for vendeur -->
            <p th:if="${article.utilisateur != null}">
                Vendu par : <span th:text="${utilisateur.pseudo}">Vendeur</span>
            </p>
            <p th:if="${article.utilisateur == null}">
                Vendu par : <span>Inconnu</span>
            </p>

            <!-- Back to list -->
            <p><a th:href="@{/}">← Retour à la liste</a></p>
        </div>
    </div>

</main>
</html>


